.content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: image-set(
    url('/store_background-min.png') 1x,
    url('/store_background.png') 1x,
    url('/store_background.svg') 1x
  );
  background-size: cover;
  background-position: center;
  color: white;
  font-family: OxaniumRegular;
}

.main {
  display: flex;
  flex-grow: 1;
  font-family: OxaniumRegular;
  font-size: 22px;
  overflow: hidden;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
}
