.card {
  min-width: max-content;
  min-height: max-content;
  border: 1px solid rgba(48, 238, 227, 0.2);
  background: linear-gradient(
    90.13deg,
    rgba(44, 42, 42, 0.9) 0.11%,
    rgba(48, 238, 227, 0.5) 50%,
    rgba(0, 0, 0, 0.8) 99.89%
  );
  border-radius: 10px;
}
